*{
    box-sizing: border-box;
    padding: 0;
    font-family: sans-serif;
}

:root{
    --very-light-grey: #f0efef;
    --light-grey: #cbcaca ;
    --medium-grey: #9d9b9b ;
    --dark-grey: #6a6969 ;
}

html, body, #root{
    height: 100%;
}

.container{
    height: fit-content;
    position: relative;
}

.header{
    position: fixed ;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px 1px var(--light-grey);
    display: flex;
    align-items: center;
    z-index: 2;
}

.footer{
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: black;
}

.main{
    background-color: bisque;
    height: fit-content;
    width: 100%;
    margin-top: 60px;
    padding-bottom: 300px;
}


::-webkit-input-placeholder { /* Edge */
    color: var(--light-grey);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--light-grey);
  }
  
  ::placeholder {
    color: var(--light-grey);
    font-size: 14px;
  }


